/* header */

/* hero */
@media (min-width: 576px) {
  .column {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .column {
    width: 50%;
  }
}

/* introduction */
/* resume */
/* achievements */
/* services */
/* latest projects */
/* subscribe */
/* clients */
/* how we works */
/* blog */
/* contact us */
@media (min-width: 576px) {
  input,
  textarea {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  input {
    width: 50%;
  }
}
/* footer */
