/* init / main */
@import './components/reset.css';
@import './components/variables.css';
@import './components/layout.css';
@import './components/utility.css';

/* 3rd party */
@import './font-awesome.min.css';

/* components */
@import './components/button.css';

/* CUSTOM HOME PAGE CSS */
/* header */
header.header {
  position: absolute;
  padding-top: 0;
  margin-top: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}
.header .header-top-row {
  border-bottom: solid 0.2px #028de8;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header .header-bottom-row {
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header-top-row .contact {
  padding-right: 15px;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}
.header-top-row .contacts > .icon {
  padding-top: 5px;
  margin-right: 5px;
}
.header-top-row .socials {
  float: left;
  padding: 0;
  margin: 0;
  transition: all 0.4s;
  text-align: right;
}
.header-top-row .socials > a {
  color: #fff;
  margin: 0 8px;
  line-height: 26px;
  font-size: 16px;
  text-decoration: none;
}
.header-top-row .socials > a:hover {
  opacity: 0.6;
}
.header .contact:hover {
  opacity: 0.6;
}
nav {
  float: right;
}
.nav > a {
  float: left;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
  padding: 5px 14px;
  transition: all 0.4s;
}
.nav > a:first-of-type {
  opacity: 0.6;
}
nav a:hover {
  opacity: 0.6;
}

/* hero */
.hero {
  background-color: var(--main-color);
  background-image: url(../img/heroBackground.jpg);
  background-size: cover;
  color: #fff;
  padding-top: 100px;
  position: relative;
}
.hero-left-section {
  padding-top: 10px;
}
.hero-left-section h1 {
  word-break: keep-all;
  font-size: 24px;
  text-transform: capitalize;
}
.hero-left-section p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  word-break: keep-all;
}
.moving-robot > img {
  width: 100%;
  animation-name: robotMove;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  bottom: 0px;
}
.mechanics > img {
  max-width: 100%;
  height: auto;
  padding-top: 40px;
}

@keyframes robotMove {
  0% {
  }
  50% {
    bottom: 30px;
  }
}
@media (min-width: 576px) {
  .hero-left-section h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .hero {
    padding-top: 150px;
  }
  .hero-main-section h1 {
    font-size: 36px;
  }
  .hero-left-section p {
    font-size: 18px;
  }
  .btn {
    padding: 6px 25px;
    font-size: 16px;
    line-height: 32px;
  }
}
@media (min-width: 992px) {
  .hero {
    padding-top: 150px;
  }
  .hero-left-section h1 {
    font-size: 42px;
  }
  .hero-left-section p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .hero-left-section {
    margin-bottom: 90px;
  }
  .btn {
    padding: 6px 30px;
    font-size: 18px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 220px;
  }
  .hero-left-section h1 {
    font-size: 46px;
    padding: 30px 0 10px;
  }
  .hero-left-section p {
    font-size: 26px;
  }
  .mechanics > img {
    padding-top: 160px;
  }
  .moving-robot > img {
    width: 110%;
  }
}
@media (min-width: 1500px) {
  .hero {
    padding-top: 220px;
  }
  .hero-left-section h1 {
    font-size: 60px;
  }
  .hero-left-section {
    padding-top: 30px;
  }
  .mechanics > img {
    padding-top: 150px;
  }
  .moving-robot > img {
    width: 110%;
  }
}

/* introduction */
@media (min-width: 576px) {
  .column {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .column {
    width: 50%;
  }
}

/* resume */
.resume > h2 {
  margin-top: 50px;
  font-size: 29px;
  line-height: 32px;
}

.resume > p {
  margin-top: 20px;
}

.resume > div.btn {
  display: inline-block;
  margin-top: 20px;
  width: 160px;
  padding: 10px 20px;
  background-color: green;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

/* achievements */
.achievements-container {
  background-color: var(--main-color);
  background-image: linear-gradient(#0ac777, var(--main-color));
  padding: 0;
  margin: 0;
}
.achievements {
  width: 100%;
  padding: 50px 0;
  margin: 0;
}
.img-blob > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.img-blob {
  width: 100%;
}
.achievement-block {
  position: relative;
  width: 100%;
}
.achievement-text {
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
  color: #fff;
}
.achievement-text > .number-count {
  font-size: 30px;
  font-weight: bold;
}
.achievement-text > .number-count::after {
  content: '+';
  display: inline-block;
  margin-left: 5px;
}
.achievement-text h4 {
  text-transform: capitalize;
  padding-top: 5px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .achievements {
    padding: 30px 0;
  }
  .achievement-text > .number-count {
    font-size: 36px;
  }
  .achievement-text > .number-count::after {
    margin-left: 5px;
  }
  .achievement-text h4 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .achievements {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .achievements {
    padding: 15px;
  }
}
@media (min-width: 1500px) {
  .achievements {
    padding: 0;
  }
}

/* services */
/* latest projects */
.services-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 26px;
  text-transform: capitalize;
  position: relative;
}
.services-title > h2 {
  position: relative;
  z-index: 2;
}
.services-title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 10px;
  background: linear-gradient(90deg, #01a0f9 45%, #09c778 60%);
  opacity: 0.5;
  left: calc(50% - 150px / 2);
  top: 26px;
  z-index: 1;
}
.image-container {
  position: relative;
  display: inline-block;
}
.project-image {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.overlay {
  position: absolute;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: 1s ease;
  background: linear-gradient(135deg, #01a0f9 45%, #08965b 60%);
}
.image-container:hover .overlay {
  opacity: 0.8;
}
.overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-weight: bold;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}

/* subscribe */
/* clients */
/* how we works */
/* blog */
.blog {
  background-color: white;
}

.blogheader {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 26px;
  text-transform: capitalize;
}

.blog > h2 {
  margin-top: 50px;
  font-size: 24px;
  line-height: 32px;
  padding: 20px;
}

.blog > p {
  margin-top: 20px;
  line-height: 24px;
  padding: 20px;
}

.blog > img {
  width: 100%;
}

.blog > button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 160px;
  padding: 10px 20px;
  background-color: lightgreen;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
  border-style: none;
}

.icblog {
  display: inline-block;
  margin-top: 8px;
  margin-left: 20px;
  color: blue;
}

.ictext {
  display: inline-block;
  margin-top: 8px;
  margin-left: 8px;
}

/* contact us */
@media (min-width: 320px) {
  input,
  textarea {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  input {
    width: 50%;
  }
}
/* footer */
