.introductioncolumn > .left {
  display: inline-block;
  width: 49%;
  padding: 0 20px;
}
.introductioncolumn > .right {
  display: inline-block;
  width: 49%;
  padding: 0 20px;
  margin-top: 40px;
}
.introduction-h2 {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 35px;
}
.introduction-p {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #666;
}
.introduction .introductionColumn2 {
  padding-top: 120px;
}
.introductionColumn2 .btn {
  background: rgb(3, 169, 217);
  background: linear-gradient(
    146deg,
    rgba(3, 169, 217, 1) 10%,
    rgba(10, 199, 119, 1) 100%
  );
  color: white;
  margin-top: 30px;
  opacity: 0.85;
}
.introductionColumn2 .btn:hover {
  opacity: 100%;
}
.introduction .column {
  background-color: #fff;
  cursor: pointer;
  transition: 2s ease;
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 15px 25px;
  box-shadow: 2px 10px 50px #ccc;
}
.introduction .column > h5 {
  font-size: 20px;
  margin: 15px 0;
}
.introduction .column > p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.introduction .column:hover {
  transition: 2s ease;
  background: rgb(3, 169, 217);
  background: linear-gradient(
    146deg,
    rgba(3, 169, 217, 1) 10%,
    rgba(10, 199, 119, 1) 100%
  );
  z-index: 1;
}
.introduction .column:hover h5 {
  color: #fff;
}
.introduction .column:hover p {
  color: #fff;
}
